// Tipografia
$font-size-root: 62.5%;
$quote: 2.8rem;
$body: 1.4rem;
$body-sm: 1.2rem;


// Cores
$primary: #52ffa8;
$support-light-1: #cee3e9;
$support-dark-1:#4e5d73;
$support-dark-2: #323a49;
$support-dark-3: #1f2632;